body {
  background-color: rgb(32, 43, 61);
  color: white;
  margin: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p,
li {
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 8px;
}

@media (max-width: 730px) {
  body {
    margin: 2px;
  }

  h1 {
    padding: 5px;
  }
}

a {
  color: rgb(150, 150, 255);
}

a:visited {
  color: rgb(218, 96, 255);
}