body {
  background-color: rgb(228, 216, 180);
  color: black;
  margin: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  line-height: 1em;
  font-size: 14px;
}

@media (max-width: 730px) {
  body {
    margin: 2px;
  }

  h1 {
    padding: 5px;
  }
}

a {
  color: #66f;
}

a:visited {
  color: rgb(121, 4, 156);
}