.itemWrapper {
    position: relative;
    width: 70px;
    height: 70px;
}

.item {
    width: 70px;
}

.overlayChecked {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    bottom: 0;
}